.board {
    position: relative;
    margin: 0 auto;
    background-color: rgb(236, 243, 252);
    background-image: linear-gradient(rgb(97, 74, 179) 1px, transparent 1px), linear-gradient(90deg, rgb(97, 74, 179) 1px, transparent 1px);
    border-top: none;
    border-right: 1px solid rgb(97, 74, 179);
    border-bottom: 1px solid rgb(97, 74, 179);
    border-left: none;
}

.cell {
    transition: background-color .2s ease-in-out;
    background-color: rgb(131, 142, 241);
    position: absolute;
}